[Unit]
Description=Dash
After=graphical.target

[Service]
Type=idle
User=pi
StandardOutput=inherit
StandardError=inherit
Environment=DISPLAY=:0
Environment=XAUTHORITY=/home/pi/.Xauthority
WorkingDirectory=/home/pi
ExecStart=/usr/local/opendsh/bin/dash
Restart=on-failure
RestartSec=10s
KillMode=process
TimeoutSec=infinity

[Install]
WantedBy=graphical.target